**/.idea/
**/__pycache__/
**/cmake-build-*/
**/dnld/
**/*.log
**/*.tar.gz

**/atomic/gcc-*
**/bash/bash-*/
**/bu/binutils-*/
**/bz2/bzip2-*/
**/cross/musl-cross-make
**/cross/install*
**/expat/expat-*
**/ffi/libffi-*
**/frida/frida
**/frida/archive
**/frida/patches/releng-*.patch
**/gdb/gdb-*/
**/gdbm/gdbm-*
**/gmp-*
**/htop/htop-*/
**/iconv/libiconv-*
**/isl-*
**/lz4/lz4-*
**/mpc-*
**/mpfr/mpfr/
**/mussel/mussel
**/nano/nano-*
**/ncurses-*
**/nsl/libnsl-*
**/pcre-*
**/python/Python-*
**/python/third-party
**/readline-*
**/sl/sqlite-*
**/openssl-*
**/libtirpc-*
**/pack/
**/ucontext/libucontext-*
**/ul/util-linux-*
**/xz-*
**/zlib-*
**/zstd-*
